In [1]:
import pandas as pd
import os
import json

In [2]:
house = pd.read_csv(r"C:\Users\user\Desktop\23_kdt_hackathon\hackathon_data\house.csv")
man = pd.read_csv(r"C:\Users\user\Desktop\23_kdt_hackathon\hackathon_data\man.csv")
woman = pd.read_csv(r"C:\Users\user\Desktop\23_kdt_hackathon\hackathon_data\woman.csv")
tree = pd.read_csv(r"C:\Users\user\Desktop\23_kdt_hackathon\hackathon_data\tree.csv")

In [ ]:
house = house.drop('Unnamed: 0', axis=1)
man = man.drop('Unnamed: 0', axis=1)
woman = woman.drop('Unnamed: 0', axis=1)
tree = tree.drop('Unnamed: 0', axis=1)

In [5]:
house.head()

   roof_h  roof_w  door_h  door_w  window_h  window_w  house_h  house_w
0     395     352     119      93        55        54    693.0    387.0
1     179     284      96      80        56        61    522.0    309.0
2     442     526     278     161        54        47   1089.0    660.0
3     268     600     125     118        45        44    746.0    620.0
4     183     383     214     104        43        45    549.0    393.0

In [8]:
def find_boundbox(key):
    train_path = r"C:\Users\user\Desktop\23_kdt_hackathon\hackathon_data\266.AI 기반 아동 미술심리 진단을 위한 그림 데이터 구축\01.데이터\Training\02.라벨링데이터"
    dic = {'나무':'TL_나무', '남자':'TL_남자사람', '여자': 'TL_여자사람', '집': 'TL_집'}

    file_path = os.path.join(train_path, dic[key])
    files = os.listdir(file_path)

    for file_name in files:
        path = os.path.join(file_path, file_name)
        
        try:
            # JSON 파일을 열어서 내용을 읽고 파싱합니다.
            with open(path, "r", encoding="utf-8") as file:
                json_data = json.load(file)
                contents = json_data['annotations']['bbox']
                
                # if key == '남자' or key == '여자':    
                #     for content in contents:
                #         if content['label'] == '팔':
                #             arm_h.append(content['h'])
                #             arm_w.append(content['w'])
                #         elif content['label'] == '손':
                #             hand_h.append(content['h'])
                #             hand_w.append(content['w'])
                
                # elif key =='나무':
                #     for content in contents:
                #         if content['label'] == '뿌리':
                #             root_h.append(content['h'])
                #             root_w.append(content['w'])
                
                # elif key=='집':
                for content in contents:
                    if content['label'] == '집벽':
                        wall_h.append(content['h'])
                        wall_w.append(content['w'])
                    elif content['label'] == '굴뚝':
                        chimney_h.append(content['h'])
                        chimney_w.append(content['w'])
        
        
        except Exception as e:
                print(f"파일 읽기 및 JSON 파싱 오류: {file_name}, 오류 메시지: {str(e)}")
                break

In [10]:
wall_h=[]
wall_w=[]
chimney_h=[]
chimney_w=[]

find_boundbox('집')
house['wall_h'] = pd.Series(wall_h)
house['wall_w'] = pd.Series(wall_w)
house['chimney_h'] = pd.Series(chimney_h)
house['chimney_w'] = pd.Series(chimney_w)

In [11]:
# 사람: 팔, 손
# 나무: 뿌리
# 집: 집 전체
# 추가

# tree.to_csv(r'C:\Users\user\Desktop\23_kdt_hackathon\hackathon_data\tree.csv', index=False)
# man.to_csv(r'C:\Users\user\Desktop\23_kdt_hackathon\hackathon_data\man.csv', index=False)
# woman.to_csv(r'C:\Users\user\Desktop\23_kdt_hackathon\hackathon_data\woman.csv', index=False)
house.to_csv(r'C:\Users\user\Desktop\23_kdt_hackathon\hackathon_data\house.csv', index=False)

In [12]:
house = pd.read_csv(r"C:\Users\user\Desktop\23_kdt_hackathon\hackathon_data\house.csv")
house.head()

,roof_h,roof_w,door_h,door_w,window_h,window_w,house_h,house_w,wall_h,wall_w,chimney_h,chimney_w
0,395,352,119,93,55,54,693.0,387.0,343,388,197.0,99.0
1,179,284,96,80,56,61,522.0,309.0,353,308,340.0,433.0
2,442,526,278,161,54,47,1089.0,660.0,686,628,513.0,145.0
3,268,600,125,118,45,44,746.0,620.0,389,618,339.0,120.0
4,183,383,214,104,43,45,549.0,393.0,384,392,228.0,62.0